Repository 0x6368656174/sri2018-ex2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier, eslint --fix

.lintstagedrc:

{
  "*.scss": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.js": [
    "prettier",
    "eslint --fix",
    "git add"
  ]
}

Пришлось запилить свой html-loader, т.к. оригинальный не работал с srcset=(
  .eslintrc
  .lintstagedrc
  html-loader.js
  lib/attributesParser.js
  package-lock.json
  package.json
  src/assets/yandex-home.svg
  src/assets/yandex-home@1x.png
  src/assets/yandex-home@2x.png
  src/components/c-home-header/c-hom-header.scss
  src/components/c-home-header/c-home-header.twig
  src/pages/p-home/p-home.twig
  webpack.common.js
Due: prettier --write, stylelint --fix, prettier, eslint --fix

html-loader config
  webpack.common.js
Due: prettier, eslint --fix

add cssnano to production build
  html-loader.js
  package-lock.json
  package.json
  webpack.common.js
Due: prettier, eslint --fix

build config ready
  package-lock.json
  package.json
  webpack.common.js
Due: prettier, eslint --fix

next webpack config
  add-asserts.loader.js
  package-lock.json
  package.json
  src/assets/icon__list.svg
  src/assets/icon__list@1x.png
  src/assets/icon__list@2x.png
  src/assets/yandex-home.svg
  src/components/c-home-header/c-home-header.scss
  src/components/c-home-header/c-home-header.twig
  src/components/c-image/c-image.scss
  src/components/c-image/c-image.twig
  twig-loader.js
  twig.plugin.js
  webpack.common.js
Due: prettier --write, stylelint --fix, prettier, eslint --fix

fix accessibility
  src/components/c-header/c-header.scss
  src/components/c-tile-list/c-tile-list.js
  src/components/c-tile-list/c-tile-list.twig
  src/components/c-tile/c-tile.scss
  src/components/c-tile/c-tile.twig
  src/pages/p-home/p-home.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

анимация появления диалога
  src/components/c-tile/c-tile.js
  src/components/c-tile/c-tile.twig
  src/modals/m-brightness/m-brightness.js
  src/modals/m-brightness/m-brightness.twig
  src/modals/modal.js
  src/modals/modal.scss
  src/modals/modal.twig
  src/pages/p-home/p-home.twig
  src/scss/const.scss
  src/scss/engine-conditions.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

анимация появления диалога
  src/scss/engine-conditions.scss
Due: prettier --write, stylelint --fix

анимация появления диалога
  src/modals/modal.scss
  src/scss/engine-conditions.scss
Due: prettier --write, stylelint --fix

анимация появления диалога
  src/modals/modal.scss
Due: prettier --write, stylelint --fix

badges
  src/components/c-badges/c-badges.scss
  src/components/c-badges/c-badges.twig
  src/components/c-tile/c-tile.js
  src/components/c-tile/c-tile.twig
  src/js/engine-conditions.js
  src/modals/m-brightness/m-brightness.js
  src/modals/m-brightness/m-brightness.twig
  src/modals/m-light/m-light.js
  src/modals/m-light/m-light.twig
  src/modals/modal.js
  src/modals/modal.scss
  src/pages/p-home/p-home.twig
Due: prettier --write, stylelint --fix, prettier, eslint --fix

range (FF, Chrome)
  src/assets/icons/sun--max.svg
  src/assets/icons/sun--max@1x.png
  src/assets/icons/sun--max@2x.png
  src/assets/icons/sun--min.svg
  src/assets/icons/sun--min@1x.png
  src/assets/icons/sun--min@2x.png
  src/forms/f-range/f-range.scss
  src/forms/f-range/f-range.twig
  src/modals/m-light/m-light.scss
  src/modals/m-light/m-light.twig
Due: prettier --write, stylelint --fix

light range
  package-lock.json
  package.json
  src/components/c-badges/c-badges.scss
  src/forms/f-range/f-range.scss
  src/modals/m-light/m-light.js
  src/modals/m-light/m-light.scss
  src/modals/m-light/m-light.twig
  src/modals/modal.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

input range
  src/components/c-main/c-main.twig
  src/components/c-tile-list/c-tile-list.twig
  src/components/c-tile/c-tile.js
  src/components/c-tile/c-tile.scss
  src/components/c-tile/c-tile.twig
  src/forms/f-range/f-range.scss
  src/forms/f-range/f-range.twig
  src/modals/m-light/m-light.js
  src/modals/m-light/m-light.twig
  src/modals/m-range-dialog/m-range-dialog.js
  src/modals/m-range-dialog/m-range-dialog.scss
  src/modals/m-range-dialog/m-range-dialog.twig
  src/modals/m-temp/m-temp.js
  src/modals/m-temp/m-temp.twig
  src/pages/p-home/p-home.scss
  src/pages/p-home/p-home.twig
  src/scss/responsieve-background-image.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

add auto breakpoint support
  src/pages/p-home/p-home.min-630_max-1200.scss
  suppress-chunks.plugin.js
  twig-loader.js
  webpack.common.js
Due: prettier --write, stylelint --fix, prettier, eslint --fix

main desktop
  src/assets/icons/double-arrow--top.svg
  src/assets/icons/double-arrow--top@1x.png
  src/assets/icons/double-arrow--top@2x.png
  src/components/c-icon/c-icon.scss
  src/components/c-icon/c-icon.twig
  src/components/c-main/c-main.js
  src/components/c-main/c-main.min-630.scss
  src/components/c-main/c-main.twig
  src/components/c-tile-list/c-tile-list.twig
  src/components/c-tile/c-tile.twig
  src/components/c-title/c-title.min-630.scss
  src/components/c-title/c-title.scss
  src/js/media.js
  src/modals/modal.twig
  src/pages/p-home/p-home.min-630.scss
  src/pages/p-home/p-home.min-630_max-1200.scss
  src/pages/p-home/p-home.scss
  src/pages/p-home/p-home.twig
  webpack.common.js
Due: prettier --write, stylelint --fix, prettier, eslint --fix

постраничная прокрутка. не юзайте JS говорили они=(
  src/assets/icons/arrow--down.svg
  src/assets/icons/arrow--down@1x.png
  src/assets/icons/arrow--down@2x.png
  src/assets/icons/arrow--left-active.svg
  src/assets/icons/arrow--left-active@1x.png
  src/assets/icons/arrow--left-active@2x.png
  src/assets/icons/arrow--left.svg
  src/assets/icons/arrow--left@1x.png
  src/assets/icons/arrow--left@2x.png
  src/components/c-icon/c-icon.scss
  src/components/c-icon/c-icon.twig
  src/components/c-main/c-main.js
  src/components/c-main/c-main.min-950.scss
  src/components/c-main/c-main.scss
  src/components/c-tile-list/c-tile-list.js
  src/components/c-tile-list/c-tile-list.min-1165.scss
  src/components/c-tile-list/c-tile-list.min-1380.scss
  src/components/c-tile-list/c-tile-list.min-950.scss
  src/components/c-tile-list/c-tile-list.scss
  src/components/c-tile-list/c-tile-list.twig
  src/components/c-tile/c-tile.scss
  src/components/c-title/c-title.min-950.scss
  src/js/media.js
  src/pages/p-home/p-home.min-950.scss
  src/pages/p-home/p-home.scss
  src/pages/p-home/p-home.twig
  src/scss/paged-grid-child.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

новый js постраничного листания плашек
  src/components/c-tile-list/c-tile-list.js
  src/components/c-tile-list/c-tile-list.min-950.scss
  src/components/c-tile-list/c-tile-list.scss
  src/components/c-tile-list/c-tile-list.twig
Due: prettier --write, stylelint --fix, prettier, eslint --fix

grid tiles
  src/components/c-main/c-main.js
  src/components/c-tile-list/c-tile-list.js
  src/components/c-tile-list/c-tile-list.min-1165.scss
  src/components/c-tile-list/c-tile-list.min-1380.scss
  src/components/c-tile-list/c-tile-list.min-950.scss
  src/components/c-tile-list/c-tile-list.twig
  src/js/media.js
  src/pages/p-home/p-home.min-950.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

список плашек
  src/components/c-badges/c-badges.js
  src/components/c-badges/c-badges.min-950.scss
  src/components/c-badges/c-badges.scss
  src/components/c-badges/c-badges.twig
  src/components/c-main/c-main.js
  src/components/c-tile-list/c-tile-list.js
  src/components/c-tile-list/c-tile-list.min-950.scss
  src/components/c-tile-list/c-tile-list.scss
  src/components/c-tile-list/c-tile-list.twig
  src/components/c-tile/c-tile.js
  src/components/c-tile/c-tile.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

header
  src/components/c-header/c-header.min-950.scss
  src/components/c-header/c-header.scss
  src/components/c-header/c-header.twig
  src/components/c-tile-list/c-tile-list.min-950.scss
  src/pages/p-home/p-home.min-950.scss
  src/scss/const.scss
Due: prettier --write, stylelint --fix

footer
  src/components/c-footer/c-footer.min-950.scss
  src/components/c-footer/c-footer.scss
  src/components/c-footer/c-footer.twig
  src/components/c-header/c-header.twig
  src/pages/p-home/p-home.twig
Due: prettier --write, stylelint --fix

range dialogs
  src/assets/icons/.directory
  src/components/c-tile-list/c-tile-list.js
  src/forms/f-range/f-range.js
  src/modals/m-light/m-light.min-950.scss
  src/modals/m-light/m-light.twig
  src/modals/m-range-dialog/m-range-dialog.js
  src/modals/m-range-dialog/m-range-dialog.min-950.scss
  src/modals/m-range-dialog/m-range-dialog.scss
  src/modals/m-range-dialog/m-range-dialog.twig
  src/modals/m-temp/m-temp.min-950.scss
  src/modals/m-temp/m-temp.twig
  src/modals/modal.js
  src/modals/modal.min-950.scss
  src/modals/modal.scss
  src/modals/modal.twig
  src/scss/const.scss
Due: prettier --write, stylelint --fix, prettier, eslint --fix

добавлена крутилка
  package-lock.json
  package.json
  src/assets/circular-input-front.svg
  src/assets/circular-input-front@1x.png
  src/assets/circular-input-front@2x.png
  src/components/c-tile/c-tile.js
  src/forms/f-circular-slider/f-circular-slider.js
  src/forms/f-circular-slider/f-circular-slider.scss
  src/forms/f-circular-slider/f-circular-slider.twig
  src/js/vendor/thumbcontrollers/ThumbControllers.js
  src/modals/m-floor/m-floor.js
  src/modals/m-floor/m-floor.min-950.scss
  src/modals/m-floor/m-floor.scss
  src/modals/m-floor/m-floor.twig
  src/pages/p-home/p-home.twig
Due: prettier --write, stylelint --fix, prettier, eslint --fix

update readme
  README.md
Due: none

fix js style
  .lintstagedrc
  src/components/c-badges/c-badges.js
  src/components/c-main/c-main.js
  src/components/c-tile-list/c-tile-list.js
  src/forms/f-circular-slider/f-circular-slider.js
  src/forms/f-range/f-range.js
  src/js/vendor/thumbcontrollers/ThumbControllers.js
  src/modals/modal.js
Due: prettier, eslint --fix
